<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">

    <div class="container">

        <a class="navbar-brand fw-bold" routerLink="/">

            <i class="bi bi-heart-pulse-fill text-primary me-2"></i>

            VetCare

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menuNavbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="menuNavbar">

            <ul class="navbar-nav ms-auto">

                <!-- Sin iniciar sesión -->

                <ng-container *ngIf="!usuarioActivo">

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/">
                            Inicio
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/login">
                            Login
                        </a>

                    </li>

                </ng-container>

                <!-- Cliente -->

                <ng-container *ngIf="usuarioActivo?.rol === 'CLIENTE'">

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/">
                            Inicio
                        </a>

                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            routerLink="/mascotas">
                            Mascotas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            routerLink="/citas">
                            Citas
                        </a>
                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/historial">
                            Historial
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            (click)="cerrarSesion()">
                            Cerrar Sesión
                        </a>

                    </li>

                </ng-container>

                <!-- Administrador -->

                <ng-container *ngIf="usuarioActivo?.rol === 'ADMIN'">

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/dashboard">
                            Dashboard
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/mascotas">
                            Mascotas
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/citas">
                            Citas
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/historial">
                            Historial
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            (click)="cerrarSesion()">
                            Cerrar Sesión
                        </a>

                    </li>

                </ng-container>

                <!-- Veterinario -->

                <ng-container *ngIf="usuarioActivo?.rol === 'VETERINARIO'">

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/dashboard">
                            Dashboard
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/mascotas">
                            Mascotas
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/citas">
                            Mis Citas
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            routerLink="/historial">
                            Historial
                        </a>

                    </li>

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            style="cursor: pointer;"
                            (click)="cerrarSesion()">
                            Cerrar Sesión
                        </a>

                    </li>

                </ng-container>

            </ul>

        </div>

    </div>

</nav>