footer{

    background:#1F2937;

}

.footer-link{

    color:white;
    text-decoration:none;
    transition:.3s;

}

.footer-link:hover{

    color:#5DADE2;

}

hr{

    border-color:rgba(255,255,255,.2);

}